<form>
  <input type="radio" name="recruiter" value="Recruiter">Recruiter<br>
  <input type="radio" name="candidate" value="candidate">Candidate<br>
  <input type="button" name="userTypeButton" value="Submit">
</form>